header.firstheader{
    height: 80px;
    width: 100%;
}
.logo{
    height: 80px;
    width: 20%;
    float: left;
}
.logo img{
    height: 75px;
    margin-left: 20px;
}
.menubar{
    height: 80px;
    width: 80%;
    background-color: gainsboro;
    float: right;
}
.menubar ul{
    float: right;
}
.menubar ul li{
    list-style: none;
    float: left;
    margin: 10px;
    padding: 5px;
    border: 2px solid;
    background-color: hsl(0, 76%, 3%);
}
.menubar ul li a{
    padding: 5px;
    text-decoration: none;
    color: gold;
}
.menubar ul li:hover{
    background-color: #fff;
}